[submodule "goapi"]
	path = goapi
	url = https://github.com/espetro/a-fast-imdb-rest-api
[submodule "pyapi"]
	path = pyapi
	url = https://github.com/espetro/an-easier-imdb-rest-api
[submodule "rustapi"]
	path = rustapi
	url = https://github.com/espetro/a-faster-imdb-rest-api
[submodule "tsapi"]
	path = tsapi
	url = https://github.com/espetro/an-easy-imdb-rest-api
[submodule "scapi"]
	path = scapi
	url = https://github.com/espetro/a-functional-imdb-rest-api
